<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock title %}</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-blue bg-primary">
    <div class="container-fluid m-auto">
      <a class="navbar-brand" href="{% url 'index' %}">Music Log Tracker</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'view_logs' %}">View Logs</a>
        </div>

        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'view_logs' username=user.username %}">{% include './icons/person-circle.svg' %} Hello, {{ user.username }}!</a>
            <a class="nav-item nav-link" href="{% url 'add_log' %}">New Log {% include './icons/plus-square.svg' %}</a>

            <form action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-item nav-link">
                Log Out {% include './icons/person-dash-fill.svg' %}
              </button>
            </form>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Log In {% include './icons/person-circle.svg' %}</a>
            <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register {% include './icons/person-plus-fill.svg' %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid mx-auto my-2">
    {% block content %}
    {% endblock content %}
  </div>


</body>
</html>