<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Set up formatting. -->
  {% load django_bootstrap5 %}
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" href="{% static 'favicon.jpg' %}">
</head>
<body>
  <!-- Begin the navbar. -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-primary">
    <div class="container-fluid m-auto">
      <!-- Branding/home button. -->
      <!-- UPDATE? Make this the site logo (Sweetwater, etc) -->
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'sweetwater-header.png' %}" height="50p" alt="Sweetwater logo">
      </a>

      <!-- Expand button (for on mobile). -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- This is what gets expanded. -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left-side links: home and view logs. -->
        <!-- UPDATE? The view logs button may eventually lead signed-in users to their specific
        log screen by default. -->
        <div class="navbar-nav me-auto">
          <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'view_logs' %}">View Logs</a>
        </div>

        <!-- Right-side links: profile, add log, login, register, logout. -->
        <div class="navbar-nav ml-auto">
          <!-- Show profile and Add Log button if the user is logged in. -->
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'view_logs' username=user.username %}">{% include './icons/person-circle.svg' %} Hello, {{ user.username }}!</a>
            <a class="nav-item nav-link" href="{% url 'add_log' %}">New Log {% include './icons/plus-square.svg' %}</a>

            <!-- Logout button. -->
            <form action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-item nav-link">
                Log Out {% include './icons/person-dash-fill.svg' %}
              </button>
            </form>
          <!-- If the user isn't logged in, show a prompt to log in. -->
          {% else %}
            <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Log In {% include './icons/person-circle.svg' %}</a>
            <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register {% include './icons/person-plus-fill.svg' %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <!-- Finally, a block for page content. -->
  <div class="container-fluid mx-auto bg-light">
    {% block content %}
    {% endblock content %}
  </div>


</body>
</html>