{% extends 'tracker/base.html' %}

{% block title %}View Your Logs{% endblock title %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-start">
    {% for log in logs %}
    <div class="col-md-4">
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">{{ log }}</h5>
          <p class="card-text">{{ log.date }} for {{ log.duration }}</p>
            <!-- modify the button eventually so user can edit practice records -->
          <a href="#" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}