{% extends 'tracker/base.html' %}

<!-- Display the user's name if it is a specific person's logs or a generic message otherwise. -->
{% block title %}
{% if user.is_authenticated %}
  {% if username %}
    {{ username }}'s Logs
  {% else %}
    Your Logs
  {% endif %}
{% else %}
  View Recent Practices
{% endif %}
{% endblock title %}

{% block content %}

<!-- If the user is looking at a specific user's logs, describe whose logs they are. -->
{% if username %}
  <div class="container-fluid">

    <div class="justify-content-center">
      <div class="card m-3">
        <div class="card-header">
          <h5 class="card-title my-1">{{ username }}'s Music Practice</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Check out what {{ username }} has been practicing.</p>
          <p class="card-text">You can share your records with other people too!</p>
          <p class="card-text my-2">To get a link to your personal record, click the <a class="btn btn-outline-primary" href="{% url 'view_logs' username=user.username %}">{% include './icons/person-circle.svg' %} Profile</a> button in the menu bar.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container-fluid">
  {% if not user.is_authenticated %}
    <div class="justify-content-center">
      <div class="col-md-6 m-auto">
        <div class="card mx-5 justify-content-center">
          <h4 class="m-auto py-2">See what our users have been practicing!</h4>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="row justify-content-start">
    {% for log in logs %}
    <div class="col-md-4">
      <div class="card m-3">

        <div class="card-body">
          <h5 class="card-title">{{ log }}</h5>
          {% if not user.is_authenticated %}
            <h6 class="card-text">Practiced by {{ log.user }}</h6>
          {% endif %}
          <p class="card-text my-2">{{ log.date }} for {{ log.duration }}</p>

          {% if user.is_authenticated and can_edit %}
            <aside class="actions py-2">
              <a class="btn btn-primary" href="{% url 'edit_log' pk=log.pk %}">
                {% include './icons/pencil-fill.svg' %}
              </a>

              <form style="display: inline-block" action="{% url 'delete_log' pk=log.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                  {% include './icons/trash-fill.svg' %}
                </button>
              </form>

            </aside>
          {% endif %}

        </div>
      </div>
    </div>

    {% empty %}
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text my-2">No practice yet. Start something great!</p>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}